/*google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/*reset default css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.2s ease;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #EAF3F8;
  font-family: 'Poppins', sans-serif;
  color: black;
}

body.darkMode {
  background-color: #1C1C1C;
  font-family: 'Poppins', sans-serif;
  color: #DCDCDC;
}

/*LAYOUT */
.container {
  max-width: 968px;
  margin: auto;
}

.section {
  padding: 7rem 0 2rem;
}

.section_height {
  height: 100vh;
}

.switch_theme {
  border: none;
  width: 4rem;
  height: 2.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  cursor: pointer;
}



.switch_logo {
  color: black;
  font-size: 200%;
  text-align: center;
}

body.darkMode .switch_theme {
  border: none;
  width: 4rem;
  height: 2.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 2px grey;
  background: hsl(0 0% 40% / 0.5);
  backdrop-filter: blur(0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  cursor: pointer;
}


body.darkMode .switch_logo {
  color: white;
  font-size: 200%;
  text-align: center;
  margin-bottom: 0.3rem;
}

@media screen and (max-width: 768px) {
  .switch_theme {
    margin-bottom: 6rem;
  }

  body.darkMode .switch_theme {
    margin-bottom: 6rem;
  }
}
