label{
    font-size: smaller;
    display: block;
}
input{
    margin-left: 20px;
    border-radius: 5px;
    text-indent: 5px;
}
.duo_champ{
    display: block;
}
.champ{
    display: inline-block;
    margin: 2px;
}
#Adresse{
    width: 376px;
}
#Message{
    background-color: #EAF3F8;
    width: 376px;
    height: 200px;
    text-indent: 5px;
    
}

form{
    margin-left: 25%;
    margin-bottom: 10%;
    margin-top: 5%;
}

textarea{
    resize: vertical;
    margin-left: 20px;
    border-radius: 5px;
}
.bouton{
    margin-left: 20%;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: grey;
    color: white;
}
.redstar{
    color:red
}