.theme{
    background-color: #757575;
    width: 90%;
    height: auto;
    margin-left: 5%;
    border-radius: 10px;
    margin-top: 60px;
}

.interieur{
    margin-left: 10px;
}

.name{
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 200%;
    
}

.contenant_video{
    display: flex;
    margin-right: 10px;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.test_deroule{
    border-radius: 7px;
    height:120px;
    background-color: red;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
}
.test_deroule:hover{
    box-shadow: 4px 8px 6px rgb(34, 32, 32);
    cursor: pointer;
}
.description{
    margin-left: 5px;
}
