.slider {
  width: 130%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 -15%;
}

@media screen and (max-width: 1300px) {
  .slider {
    width: 100%;
    height: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    width: 80%;
    height: 65%;
    margin: auto;
  }
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  display: flex;
  width: 20%;
  transition: 2s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide img.left {
  width: 50%;
}

.slides input {
  display: none;
}

/*css for manual navigation*/

.navigation-manual {
  position: relative;
  width: 100%;
  margin-top: -5%;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #454343;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

body.darkMode .manual-btn {
  border: 2px solid #EAF3F8;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.manual-btn:not(:last-child){
  margin-right: 1.5rem;
}

.manual-btn:hover {
  background-color: #454343;
}

body.darkMode .manual-btn:hover {
  background-color: #EAF3F8;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

.separator-circle-left{
  border: 2px solid #454343;
  border-radius: 10px;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
  z-index: 11;
}

.separator-circle-right {
  border: 2px solid #454343;
  border-radius: 10px;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
  z-index: 11;
}

.separator-line {
  background-color: #454343;
  border: 2px solid #454343;
  border-radius: 5px;
  justify-content: center;
  width: 40rem;
  height: 0.3rem;
  z-index: 10;
}
.separator {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.darkMode .separator-line {
  background-color: #EAF3F8;
  border: 2px solid #EAF3F8;
  border-radius: 5px;
  justify-content: center;
  width: 40rem;
  height: 0.3rem;
  z-index: 10;
}

body.darkMode .separator-circle-left {
  border: 2px solid #EAF3F8;
  border-radius: 10px;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
  z-index: 11;
}

body.darkMode .separator-circle-right {
  border: 2px solid #EAF3F8;
  border-radius: 10px;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
  z-index: 11;
}

@media screen and (max-width: 1100px) {
  .separator {
    width: 70%;
    margin: 2rem auto;
  }

  body.darkMode .separator {
    width: 70%;
    margin: 2rem auto;
  }
}

.tendance-1 i {
  color: #454343;
  font-size: 150%;
}

.tendance-1 h1 {
  margin: 2rem 6rem;
}

.btn-switch {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderButton {
  cursor: pointer;
}

.btn-switch .middle-line {
  border: 2px solid #454343;
  border-radius: 10px;
  height: 2%;
  width: 100%;
  margin-inline: 1%;
}

/*.tendance-1 .switchLeft {
  position: absolute;
  left: 10%;
}

.tendance-1 .switchRight {
  position: absolute;
  right: 10%;
}*/

.tendance-1-box {
  display: inline-block;
  margin-inline: 2rem;
  height: 5%;
  width: auto;
  overflow: scroll;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.tendance-1-box img {
  max-width: 200px;
  min-width: 200px;
  height: 50%;
  margin-inline: 1%;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 1;
}

.tendance-1-box img:hover {
  transform: scale(1.4);
  z-index: 2;
}

.tendance-2 h1 {
  margin: 6rem 6rem;
}
