.slider {
  width: 130%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 -15%;
}

@media screen and (max-width: 1300px) {
  .slider {
    width: 100%;
    height: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    width: 80%;
    height: 65%;
    margin: auto;
  }
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  display: flex;
  width: 20%;
  transition: 2s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide img.left {
  width: 50%;
}

.slides input {
  display: none;
}

/*css for manual navigation*/

.navigation-manual {
  position: relative;
  width: 100%;
  margin-top: -5%;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #454343;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

body.darkMode .manual-btn {
  border: 2px solid #EAF3F8;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.manual-btn:not(:last-child){
  margin-right: 1.5rem;
}

.manual-btn:hover {
  background-color: #454343;
}

body.darkMode .manual-btn:hover {
  background-color: #EAF3F8;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

.separator-circle-left{
  border: 2px solid #454343;
  border-radius: 10px;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
  z-index: 11;
}

.separator-circle-right {
  border: 2px solid #454343;
  border-radius: 10px;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
  z-index: 11;
}

.separator-line {
  background-color: #454343;
  border: 2px solid #454343;
  border-radius: 5px;
  justify-content: center;
  width: 40rem;
  height: 0.3rem;
  z-index: 10;
}
.separator {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.darkMode .separator-line {
  background-color: #EAF3F8;
  border: 2px solid #EAF3F8;
  border-radius: 5px;
  justify-content: center;
  width: 40rem;
  height: 0.3rem;
  z-index: 10;
}

body.darkMode .separator-circle-left {
  border: 2px solid #EAF3F8;
  border-radius: 10px;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
  z-index: 11;
}

body.darkMode .separator-circle-right {
  border: 2px solid #EAF3F8;
  border-radius: 10px;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
  z-index: 11;
}

@media screen and (max-width: 1100px) {
  .separator {
    width: 70%;
    margin: 2rem auto;
  }

  body.darkMode .separator {
    width: 70%;
    margin: 2rem auto;
  }
}

.thumbTitle {
  font-size: 200%;
  margin: 2rem 2rem;
  color: #454343;
}

body.darkMode .thumbTitle {
  font-size: 200%;
  margin: 2rem 2rem;
  color: #EAF3F8;
}

.thumbTiles.swiper {
  padding: 0 8%;
  display: flex;
  align-items: center;
}

.thumbTile {
  width: 20%;
}

.thumbTile_images {
  width: 100%;
  border-radius: 4px;
}

.thumbTiles .swiper-button-prev,
.thumbTiles .swiper-button-next {
  height: 100%;
  width: 7.4%;
  top: 0;
  bottom: 0;
  margin: 0;
}

.thumbTiles .swiper-button-prev {
  left: 0;
}

.thumbTiles .swiper-button-next {
  right: 0;
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
  color: black;
  font-size: 4vw;
  font-weight: bold;
  transition: transform 0.1s ease-out
}

body.darkMode .swiper-button-prev::after {
  color: white;
  font-size: 4vw;
  font-weight: bold;
  transition: transform 0.1s ease-out
}

body.darkMode .swiper-button-next::after {
  color: white;
  font-size: 4vw;
  font-weight: bold;
  transition: transform 0.1s ease-out
}

@media screen and (min-width: 770px) {
  .thumbTiles .swiper-button-prev::after,
  .thumbTiles .swiper-button-next::after {
    display: none;
    font-size: 2.4vw;
    transition: 0.1s ease;
  }

  body.darkMode .swiper-button-prev::after {
    display: none;
    font-size: 2.4vw;
    transition: 0.1s ease;
  }
  body.darkMode .swiper-button-next::after {
    display: none;
    font-size: 2.4vw;
    transition: 0.1s ease;
  }

  .thumbTiles .swiper-button-prev:hover::after,
  .thumbTiles .swiper-button-next:hover::after {
    transform: scale(1.25);
  }

  .thumbTiles:hover .swiper-button-prev::after,
  .thumbTiles:hover .swiper-button-next::after {
    display: block;
  }

  .thumbTiles.swiper {
    padding: 0 0%;
    right: 0;
    left: 0;
  }

  .thumbTile {
    width: 20%;
  }

  .thumbTile_images {
    width: 100%;
    border-radius: 4px;
  }

  .swiper {
    display: flex;
    justify-content: center;
  }

  .thumbSection {
    width: 150%;
    height: auto;
    transform: translateX(-17%);
  }

}

@media screen and (max-width: 1500px) {
  .thumbSection {
    width: 120%;
    height: auto;
    transform: translateX(-8%);
  }
}

@media screen and (max-width: 1200px) {
  .thumbSection {
    width: 100%;
    height: auto;
    transform: translateX(0%);
  }
}